<!-- Google Search -->
<!--<p>-->
    <!--<label for="q" accesskey="4">Find:&nbsp;</label>-->
    <!--<input type="text" id="q" name="q" size="20" maxlength="255" value=" " />-->
    <!--<input type="submit" value="Search" />-->
    <!--<input type="hidden" name="cof" value="LW:752;L:http://diveintopython.net/images/diveintopython.png;LH:42;AH:left;GL:0;AWFID:3ced2bb1f7f1b212;" />-->
    <!--<input type="hidden" name="domains" value="diveintopython.net" />-->
    <!--<input type="hidden" name="sitesearch" value="diveintopython.net" />-->
<!--</p>-->
<!--</form>-->


<form id="search" method="GET" action="http://www.google.com/custom">
  <div class="row">
    <div class="small-8">
      <div class="row">
        <div class="small-3 columns">
          <label for="q" accesskey="4" class="right inline">Find:&nbsp;</label>
        </div>
        <div class="small-9 columns">
            <input type="text" id="q" name="q" size="20" maxlength="255" value=" " placeholder="Search site.."/>
            <input type="submit" value="Search" />
            <input type="hidden" name="cof" value="LW:752;L:http://diveintopython.net/images/diveintopython.png;LH:42;AH:left;GL:0;AWFID:3ced2bb1f7f1b212;" />
            <input type="hidden" name="domains" value="diveintopython.net" />
            <input type="hidden" name="sitesearch" value="diveintopython.net" />
        </div>
      </div>
    </div>
  </div>
</form>
<!-- End Google Search -->
