
<!DOCTYPE html
  PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<!--<script type="text/javascript" src="../js/shCore.js"></script>
<script type="text/javascript" src="../js/shBrushPython.js"></script>
<link href="../css/shCore.css" rel="stylesheet" type="text/css" />
<link href="../css/shThemeDefault.css" rel="stylesheet" type="text/css" />-->
<link href="../css/prettify.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/prettify.js"></script>
</head>
<body onload="prettyPrint()">

{% block body %}{% endblock %}
<!--<script type="text/javascript">
    SyntaxHighlighter.defaults['gutter'] = false;
    SyntaxHighlighter.defaults['smart-tabs'] = false;
    SyntaxHighlighter.all()
</script>-->

</body>
</html>
