<!-- Bullet points in code -->
<img src="../images/callouts/1.png" alt="1" class="callout">
<img src="../images/callouts/2.png" alt="2" class="callout">
<img src="../images/callouts/3.png" alt="3" class="callout">
<img src="../images/callouts/4.png" alt="4" class="callout">
<img src="../images/callouts/5.png" alt="5" class="callout">
<img src="../images/callouts/6.png" alt="6" class="callout">
<img src="../images/callouts/7.png" alt="7" class="callout">
<img src="../images/callouts/8.png" alt="8" class="callout">
<img src="../images/callouts/9.png" alt="9" class="callout">
<!-- Bullet points under code -->
<p><img src="../images/callouts/1.png" alt="1" class="callout"></p>
<p><img src="../images/callouts/2.png" alt="2" class="callout"></p>
<p><img src="../images/callouts/3.png" alt="3" class="callout"></p>
<p><img src="../images/callouts/4.png" alt="4" class="callout"></p>
<p><img src="../images/callouts/5.png" alt="5" class="callout"></p>
<p><img src="../images/callouts/6.png" alt="6" class="callout"></p>
<p><img src="../images/callouts/7.png" alt="7" class="callout"></p>
<p><img src="../images/callouts/8.png" alt="8" class="callout"></p>
<p><img src="../images/callouts/9.png" alt="9" class="callout"></p>